:root {
  --primary-color: #06b2e5;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "components/menu.scss";
@import "components/contact.scss";
@import "components/swiper.scss";
@import "components/video.scss";
@import "utilities/spacing.scss";
@import "utilities/post-reset.scss";

@layer base {
  // remove button tap highlight color on mobile
  html {
    -webkit-tap-highlight-color: transparent;
    background: #f7f3f9;
  }
  body {
    font-size: 18px;
    @apply font-light;
  }
}

body {
  @apply font-montserrat;
}
