:root {
  --primary-color: #081C41;
  --secondary-light: #bceac6;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'components/menu.scss';
@import 'components/contact.scss';
@import 'components/swiper.scss';
@import 'components/video.scss';
@import 'utilities/spacing.scss';
@import 'utilities/post-reset.scss';

@layer base {
  // remove button tap highlight color on mobile
  html {
    -webkit-tap-highlight-color: transparent;
  }
}

body {
  @apply font-montserrat;
}