:root {
  --primary-color: #06b2e5;
  --secondary-color: #02111d;
  --light-color: #f7f3f9;
  --accent-color-0: var(--primary-color);
  --accent-color-1: #ff4581;
  --accent-color-2: #ff9700;
  --accent-color-3: #5dd400;
  --accent-color-4: #007ff4;
  --accent-color-5: var(--accent-color-3);
  --accent-color-6: var(--accent-color-4);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "components/menu.scss";
@import "components/contact.scss";
@import "components/swiper.scss";
@import "components/video.scss";
@import "utilities/spacing.scss";
@import "utilities/post-reset.scss";
@import "utilities/font-face.scss";
@import "styles/components/faq.scss";

@layer base {
  // remove button tap highlight color on mobile
  html {
    -webkit-tap-highlight-color: transparent;
    background: var(--secondary-color);
  }
  body {
    @apply text-base font-light md:text-lg;
  }
}

body {
  @apply font-heebo;
}

.layout {
  blockquote {
    @apply bg-theme-primary-light;
    p {
      @apply m-0 p-3 font-bold;
    }
  }
  h3 {
    @apply mb-4 text-2xl font-semibold;
  }
  p {
    @apply mb-7;
  }
  ul {
    @apply mb-7 space-y-3;
    li {
      @apply flex space-x-3;
      background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20id%3D%22Layer_1%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2026%2027%22%20width%3D%2226%22%20height%3D%2227%22%20style%3D%22enable-background%3Anew%200%200%2026%2027%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cg%3E%0A%09%3Cpath%20fill%3D%22%23129DC6%22%20d%3D%22M11%2C16.5l-4-3.5l-1%2C1.1l4.5%2C4c0.1%2C0.1%2C0.3%2C0.2%2C0.5%2C0.2c0.2%2C0%2C0.4-0.1%2C0.5-0.2L21%2C8L20%2C7L11%2C16.5z%22%2F%3E%0A%09%3Cpath%20fill%3D%22%23129DC6%22%20d%3D%22M23%2C0H3C1.3%2C0%2C0%2C1.3%2C0%2C3v21c0%2C1.7%2C1.3%2C3%2C3%2C3h20c1.7%2C0%2C3-1.3%2C3-3V3C26%2C1.3%2C24.7%2C0%2C23%2C0z%20M24.5%2C24%20%20%20c0%2C0.8-0.7%2C1.5-1.5%2C1.5H3c-0.8%2C0-1.5-0.7-1.5-1.5V3c0-0.8%2C0.7-1.5%2C1.5-1.5h20c0.8%2C0%2C1.5%2C0.7%2C1.5%2C1.5V24z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
      background-repeat: no-repeat no-repeat;
      background-position: 0 1px;
      background-size: 26px, auto;
      padding-left: 45px;
      padding-bottom: 1px;
    }
  }
}
.journey-container {
  @apply relative;
  &.dark {
    @apply min-h-[490px] overflow-hidden;
    &:before {
      top: calc(50% - 0px);
    }
    .jc-wrap {
      @apply min-h-[490px];
      .journey-item {
        @apply lg:ml-[-140px] xl:w-[365px];
        .content {
          @apply text-white;
          p {
            @apply text-sm opacity-70;
          }
        }
        &:nth-child(even) {
          @apply sm:flex-col-reverse sm:self-start;
          .roadmap-content {
            @apply pt-0 pr-0 sm:pb-[100px] sm:pl-[17px];
          }
          .dot {
            @apply sm:bottom-0 sm:top-[auto];
            .dot-title {
              @apply sm:top-[40px];
            }
          }
        }
        .dot {
          .dot-title {
            @apply text-lg;
          }
        }
      }
    }
  }
  &:before {
    @apply hidden sm:block;
    content: "";
    position: absolute;
    left: 0;
    top: 17px;
    transform: translateY(-50%);
    width: 100%;
    height: 8px;
    background: linear-gradient(294.72deg, #ff4581 9.05%, #4388dd 79.28%);
    opacity: 0.1;
  }
  .jc-scroll-box {
    position: relative;
    height: 100%;
    max-width: 100%;
    outline: 0;
    direction: ltr;
  }
  .jc-wrap {
    @apply space-y-10 p-0 pt-[10px] sm:flex sm:space-y-0;
    justify-content: flex-end;
    .journey-item {
      @apply ml-[17px] flex flex-col items-start sm:ml-[-158px] sm:h-[253px] sm:w-[270px] lg:ml-[-10px] lg:w-[300px] xl:w-[325px];
      align-self: flex-end;
      .content {
        @apply pt-[30px] pl-[10px] text-theme-secondary sm:pt-0 sm:pl-0;
        h2 {
          @apply mb-3 font-bold;
        }
        p {
          @apply mb-2 text-base font-normal;
        }
      }
    }
    .journey-title {
      display: inline-block;
      color: currentColor;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 22px;
      letter-spacing: 0.1em;
    }
    .roadmap-content {
      @apply relative pl-[17px] sm:ml-[57px] sm:pt-[110px];
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 1px;
        height: 100%;
        background: currentColor;
      }
      .dot {
        content: "";
        background: currentColor;
        position: absolute;
        left: -8px;
        top: 0;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        .ping {
          background: currentColor;
          border-radius: 50%;
          content: "";
          height: 32px;
          left: -8px;
          opacity: 0.1;
          position: absolute;
          top: 0;
          bottom: 0;
          width: 32px;
          margin: auto;
          right: 0;
        }
        .dot-title {
          @apply absolute top-[-5px] left-[35px] m-auto min-w-[230px] text-3xl sm:-left-[105px] sm:-top-[40px] sm:text-center;
        }
      }
      .title {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 10px;
        color: #fff;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  [data-sal] {
    opacity: 1 !important;
    -webkit-transform: none !important;
    transform: none !important;
  }
}
